@using Mvc_HowTo.Models
@{
    ViewBag.Title = "AdminPostDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/jquery-1.11.3.js"></script>


<script type="text/javascript">
    $(document).ready(main);
    function main() {
        $("#like").click(function () {
            var data = {};
            data.memID = "@ViewBag.id";
            data.postID = "@Model.Post_ID";

            var set = {
                type: "POST",
                data: data,
                async: true,
                url: "/Admin/Like",
                success: function (d) {
                    var v = $("#rank").text();
                    v++;

                    $("#rank").text(v);
                }

            };
            jQuery.ajax(set);
            return false;

        });

        //dislike function
        $("#disLike").click(function () {
            var data = {};
            data.memID = "@ViewBag.id";
            data.postID = "@Model.Post_ID";

            var set = {
                type: "POST",
                data: data,
                async: true,
                url: "/Admin/DisLike",
                success: function (d) {
                    var v = $("#rank").text();
                    v--;

                    $("#rank").text(v);
                }

            };
            jQuery.ajax(set);
            return false;

        });
    };

</script>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8" style="background-color: ghostwhite">
            <table class="table">
                <caption><h2>@Model.Post_Title</h2></caption>
                <tbody>
                    @{

                        var a = Model.Likes - Model.DisLikes;
                    }
                    <tr>
                        <td>
                            <br />
                            <a class="btn btn-danger btn-block" id="like">Up Vote <span class="glyphicon glyphicon-thumbs-up"></span></a>
                            <h4 class="text-center" id="rank" style=" color:black;"> @a</h4>
                            <a class="btn btn-danger btn-block" id="disLike">Down Vote <span class="glyphicon glyphicon-thumbs-up"></span></a>
                        </td>
                        <td>
                            <div class="row">

                                <div class="col-md-8">

                                    <blockquote>
                                        <!--Post-->
                                        <h5>
                                            @Model.Post_Description
                                        </h5>
                                        @*<footer class="blockquote-reverse ">Posted By : <a href="#" class="h4"> Peter North </a></footer>*@
                                    </blockquote>
                                    <!--Comments-->
                                    <div class="container-fluid">

                                        <div id="demo">
                                            <table class="table-condensed table-responsive table-hover table">


                                                @foreach (CommentClass obj in ViewBag.comment)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="container-fluid">

                                                                <div>

                                                                    <blockquote>
                                                                        <div class="well">
                                                                            <h6>@obj.com.Description</h6>
                                                                        </div>

                                                                        <footer class="blockquote-reverse ">Posted By : <a href="#" class="h5">@obj.member </a></footer>
                                                                    </blockquote>
                                                                    <!--Replies-->

                                                                </div>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                }




                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
                <!--Add Comment-->
                <tfoot>

                    <tr>
                        <td></td>
                        <td>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-8">
                                    <div>
                                        <h2>Your Comment:</h2>
                                        <form role="form" method="post" action="/Admin/addComment">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="6" id="Description" required name="Description"></textarea>
                                                <input type="hidden" name="Post_ID" id="Post_ID" value="@Model.Post_ID" />
                                                <input type="hidden" name="Mem_ID" id="Post_ID" value="@ViewBag.id" />

                                            </div>

                                            <div class="form-group">
                                                <div class="btn-group btn-group-justified">
                                                    <div class="btn-group">
                                                        <button type="submit" class="btn btn-success">Submit</button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button type="reset" class="btn btn-success">Cancel</button>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="form-group">

                                            </div>

                                        </form> <!--End of form-->
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>


                        </td>
                    </tr>
                </tfoot><!--End Add Comment-->
            </table><!--Table-->
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <a href="" class="list-group-item" style="background-color: #81bfaa;color:white">Categories</a>
                @foreach (Category c in ViewBag.category)
                {
                    <input type="hidden" name="Cat_Id" id="Cat_Id" value="@c.Cat_Id" />
                    <a class="list-group-item" id="LinkCat_@c.Cat_Id" href="~/Admin/Search?id=@c.Cat_Id">@c.Cat_Name</a>
                }
            </div>

            <div class="list-group">
                <a href="" class="list-group-item" style="background-color: #81bfaa;color:white">City</a>
                @foreach (City c in ViewBag.City)
                {
                    <input type="hidden" name="City_Id" id="City_Id" value="@c.City_Id" />
                    <a class="list-group-item" href="~/Admin/SearchCity?id=@c.City_Id">@c.City_Name</a>
                }
            </div>
        </div>

    </div>

</div>



